* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-text {
    display: inline-block;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    margin: auto;
}

.fixed-top {
    position: fixed;
    top: 0;
}

.fixed-theme {
    transition: 0.5s;
}

.brand-text {
    border: 2px dotted aliceblue;
    padding: 1rem;
}

.nav-item-element:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.nav-item-element a:hover {
    color: aliceblue !important;
}

.text-justify {
    text-align: justify;
}

.full-height {
    height: 100vh;
}

.control-label {
    padding: .25rem 0rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.48);
}

.map-container-7 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-7 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media screen and (max-width:992px) {
    .nav-item-element {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:768px) {
    .full-height {
        height: auto;
    }
    .nav-item-element {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        text-align: center;
    }
}